body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  width: 100%;
}

.Title {
  font-size: 3.5rem;
  text-align: center;
  margin: 20px 0;
  padding: 10px;
  z-index: 10;
}

.text-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 400px;
}

.hi, .hello, .Wii {
  font-size: 18spx;
  color: gray;
  margin: 10px;
}

.fun {
  font-size: 30px;
  color: rgba(128, 128, 128, 0.396);
  text-align: center;
  margin: 30px 0;
}

.text, .text1 {
  font-size: 30px;
  text-align: center;
  margin: 20px 0;
}

.text {
  margin-top: 50px;
  margin-bottom: 50px;
}

.text1 {
  margin-top: 50px; 
  position: relative;
  transform: translate(0, -10px);
}

.gip, .gip2, .gip3 {
  height: 120px;
  width: 120px;
  margin: 30px; 
  margin-top: 100px;
}

.media-container {
  background-color: rgba(214, 205, 205, 0.277);
  border-radius: 30px;
  width: 90%; 
  max-width: 310px; 
  height: 520px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  overflow: hidden;
  margin-bottom: 50px;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}

.rect {
  width: 370px; 
  max-width: 370px;
  font-family: Helvetica, Arial, sans-serif;
  height: 1030;
  font-size: 16px;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .Title {
    font-size: 2.5rem; 
  }

  .text{
    font-size: 18px;
    margin: 10px; 
    margin-top: 150px;
  }

  .text1{
    font-size: 18px;
    margin: 10px;
  }

  .gip{
    height: 150px; 
    width: 150px;
    align-items: center;
  }

  .gip2{
    height: 150px; 
    width: 150px;
    align-items: center;
  }

  .gip3{
    height: 150px; 
    width: 150px;
    align-items: center;
  }

  .media-container {
    height: 600px;
  }

  .rect {
    width: 370px; 
    padding: 10px;
    height: 1050px; 
  }

  svg.rect {
    width: 370px; 
    height: 1050px;
  }

  svg.rect text {
    font-size: 12px;
    height: 990;
  }

  svg.rect tspan {
    x: 10 !important; 
  }
}
